{{#this}}
<article class="playlist-peep">
  <a class="playlist-peep__link js-peep" data-song-src="assets/audio/{{song_url}}" data-song-title="{{song_title}}" data-song-artist="{{song_artist}}">

    <figure class="playlist-peep__figure">
      <div class="playlist-peep__scaler">
        <img id="{{peepNameID}}" class="playlist-peep__img" src="assets/audio/{{avatar}}" alt="{{song_title}}"/>
        <div class="playlist-peep__spindle"></div>
      </div>
    </figure>
    <span class="playlist-peep__icon"><i class="icon-play"></i></span>
    <header class="playlist-peep__header">
      <h3 class="playlist-peep__name">{{song_title}}</h3>
        <span class="playlist-peep__role"><i>{{song_artist}}</i></span>
      <span class="playlist-peep__role">{{song_album}}</span>
    </header>
  </a>
</article>
{{/this}}
